body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

main {
    width: 80%;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    gap: 10px;
    align-items: end;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}